NODE_ENV=development
APP_URL=http://localhost
PORT=3000

DB_USERNAME=your_username
DB_PASSWORD=your_password
DB_NAME=db_name
DB_CLUSTER=cluster0.mongodb.net

ACCESS_TOKEN_SECRET=your-super-secret-jwt-key-change-this-in-production
ACCESS_TOKEN_EXPIRATION='15m'

REFRESH_TOKEN_SECRET=your-super-secret-jwt-key-change-this-in-production
REFRESH_TOKEN_EXPIRATION='7d'

HASH_SALT_ROUNDS = 10